.welcome {
  text-align: center;
}

.lonote-splash {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 32px;
  margin-bottom: 8px;
  margin-left: 42vw
}

.about {
  font-size: 18px;
  font-weight: bold;
  margin-left: 38vw;
}

.lonote-logo {
  display: block;
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.tour {
  width: 10vw;
  max-width: 10vw;
  min-width: 180px;
  height: 40px;
  font-size: 24px;
  margin-left: 46vw;
}

.default-notes {
  display: flex;
  flex-wrap: nowrap;
  max-width: 80%;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #242F40;
  border-radius: 10px;
  overflow-x: auto;
}

.toggle-container {
  margin: 6px;
  padding: 12px;
  width: 180px;
  height: 240px;
  flex: 0 0 auto;
}

.toggle-button {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  font-size: 20px;
  margin-left: 70px;
  margin-top: 100px;
}

.new-note-form {
  margin: 6px;
  padding: 12px;
  height: 240px;
  width: 180px;
  border-radius: 6px;
  transition: 0.4s;
  background-color: #33435B;
  display: inline-block;
}

.new-note-form:hover {
  box-shadow: 2px 2px 6px 2px black;
}
